<div
  fxLayout="column"
  fxLayoutGap="25px"
  [ngClass]="'mt-40 mx-260'"
  [ngClass.sm]="'m-1'"
  [ngClass.xs]="'m-1'"
>
  <!-- Header -->
  <h1 style="text-align: center;">let's get things done!</h1>

  <!-- Form -->
  <form action="">
    <input [ngStyle]="{ width: '100%', height: '2rem' }" type="text" />
  </form>

  <!-- Button -->
  <app-button buttonTitle="Add todo" (click)="addTodo()"></app-button>

  <!-- List Item -->
  <div *ngFor="let list of allTodos$ | async" fxLayout="row">
    <div fxFlex="90">
      <app-list-item
        [list]="list"
        (click)="onToggleCheck(list)"
      ></app-list-item>
    </div>
    <div fxFlex="10">
      <app-delete (click)="onDeleteTodo()"></app-delete>
    </div>
  </div>

  <!-- <div *ngFor="let todo of allTodos$ | async" fxLayout="row">
    {{ todo.content }}
  </div> -->
</div>
